<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="50172DavidBurela.VictorianMicrobreweries" Publisher="CN=A8C2CAA2-03A9-471C-9265-FD6C0B3EFD8C" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Victorian Microbreweries</DisplayName>
    <PublisherDisplayName>David Burela</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VictorianMicrobreweries.RT.App">
      <VisualElements DisplayName="Victorian Microbreweries" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="VictorianMicrobreweries.RT" ForegroundText="light" BackgroundColor="#1BA1E2">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>